#if(!$util.isNullOrEmpty($ctx.args.company_id))
    #set($company_id = $ctx.args.company_id)
#else
    #set($company_id = $ctx.args.id)
#end

#if($ctx.identity.claims.get("custom:trade_id") != $company_id)
    $utils.unauthorized()
#end

#if($ctx.identity.claims.get("custom:role") != "admin")
    $utils.unauthorized()
#end

#set ($ctx.args.added_date = $util.time.nowFormatted("yyyy-MM-dd"))

{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": $util.toJson($ctx.args)
}